/********************************
*      ДОПОЛНИТЕЛЬНЫЕ СТИЛИ
*********************************/
//@import "../../bower_components/normalize.css/normalize.css";
//@import "../../bower_components/bootstrap/scss/bootstrap";
//@import "../../bower_components/Swiper/dist/css/swiper.min.css";

///////////////////   МОИ ДОПОЛНЕНИЯ  /////////////////////////

@import "partials/sprite";
@import "partials/fonts";
@import "partials/typography";

/********************************
*      \ДОПОЛНИТЕЛЬНЫЕ СТИЛИ\
*********************************/




/********************************
*           СПРАЙТЫ
********************************/
i{
  display: inline-block;
}

@include sprites($spritesheet-sprites);

//hover спрайта

.icon {
  @include sprite($icon);
  &:hover {
    @include sprite($icon-hover);
  }
}
/********************************
*           \СПРАЙТЫ\
********************************/





/********************************
*           ШРИФТЫ
********************************/

//@include font-face("etelka-pro", "../fonts/etelka-text-pro-bold", "etelka-text-pro-bold");

/********************************
*          \ ШРИФТЫ\
********************************/




/********************************
*       ОСНОВНЫЕ СТИЛИ
********************************/
.bol-color{
  color: $gray-light;
}
.footage{
  background-color: #f5f1eb;
  padding: 40px 0;
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  &:before{
    content: '';
    background: url('../images/footage-shadow-top.png') 0 0 repeat-x;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after{
    content: '';
    background: url('../images/footage-shadow-bottom.png') 0 0 repeat-x;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.h1{
  text-align: center;
  color: $gray-light;
  position: relative;
  padding: 10px 0 28px;
  font-size: 42px;
  font-family: 'PT Serif';
  span{
    display: block;
    font-size: 18px;
    padding: 10px 0;
  }
  &:after{
    content: '';
    background: url(../images/h2.png) 0 0 no-repeat;
    width: 300px;
    height: 19px;
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:-150px;
  }
}

.b-video{
  border: 4px solid #e3c79c;
  display: inline-block;
  margin: 53px 15px;
    img{
    vertical-align: top;
  }
}
.image_float{
  &.right{
    margin: 0 0 25px 50px;
  }
}
.pad-bot{
    padding-bottom: 100px!important;
}

.text-center{
  text-align: center;
}

.b-text{
  .right{
    width: 50%;
  }
  .left{
    width: 45%;
  }
}

.daily-rent{
  padding: 13px 0 90px;
  .item{

    position: relative;
    width:33%;
    padding: 28px 20px 20px 28px;
    float: left;
    background-color: #f7f2e9;
    border-right: 7px solid #e6d8bf;
    border-bottom: 7px solid #e6d8bf;
    color: #5e1e16;
    min-height: 747px;
    h4{
      text-align: left;
      font-size: 24px;
      font-family: 'PT Serif';
      font-weight: 500;
      padding: 22px 0 20px 16px;
      span{
        font-size:14px;
        display: block;
        padding: 10px 0 0;
      }
    }
    &:before{
      content: '';
      position: absolute;
      width:7px;
      height:6px;
      background-color: #fff;
      top: 0;
      right:-7px;
    }
    &:after{
      content: '';
      position: absolute;
      width:7px;
      height:7px;
      background-color: #fff;
      left: 0;
      bottom:-7px;
    }
  }
  ul{
    padding: 0 0 0 34px;
    display: inline-block;
    li{
      text-align: left;
      list-style:disc;
      line-height: 21px;
      padding: 1px 0 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      span{
        color: #000;
        font-size: 14px;
      }
      b{
        font-weight:500;
      }
    }

  }
}
.but-list{
  text-transform: uppercase;
  text-decoration: underline;
  font-size:18px;
  font-family: 'PT Serif';
  display: block;
  padding: 18px 0 0;
  text-align: center;
  color: #5e1e16;
  &:hover{
    text-decoration: none;
  }
}


.marg-top{
  margin: 10px 0 68px;
}

.attention{
  padding: 26px 0 37px;
}
.figure{
  border: 3px solid #dec59e;
  img{
    vertical-align: top;
  }
}
.atten-content{
  width: 57%;
  text-align: left;
  margin: 26px 0 0;
  p{
    font-weight: normal;
    padding-bottom: 30px;
  }
}
i.bol-color{
  font-weight: 700;
  font-family: 'PT Serif';
}

.style-b{
  font-size: 21px;
  font-weight: 500;
  padding: 18px 0 0;
  display: inline-block;
}



.tables{
  overflow-x: auto;
   table{
     width: 95%;
     float: right;
     margin: 0 0 16px;
   }

  tr{
    padding: 0;
    &:nth-child(odd){
      td{
        background-color: #efefef;
        border-bottom: 1px solid #d9d9d9;
      }
    }
    &:first-child{

    }

  }
  td{
    border: none;
    font-weight: 500;
    color: #4e4e4e;
    padding: 20px 15px;
    &:first-child{
        text-align: left;
        padding: 20px 15px 20px 41px;

    }
  }
}

.pad-cont{
  padding: 0 0 53px;
   h2 {
    margin-top: 30px;
    margin-bottom: 39px;
   }
}

.affiliate-program{
  text-align: left;
  margin: 0 0 17px;
  p{
    font-weight: normal;
    padding: 10px 0 20px;
  }
  .h1{
    margin: 5px 0 32px;
  }
}
.h-line-center{
  position: relative;
  text-align: center;
  margin: 0 0 17px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:14px;
    border-bottom: 1px solid #e5cba4;
  }
  h4{
    display: inline-block;
    padding: 0px 35px;
    position: relative;
    z-index:3;
    font-size: 24px;
    color: #5e1e16;
    font-family: 'PT Serif';
  }
}
.footage{
  h4{
    background-color: #f5f1eb;
  }
}

.marg-bot{
  margin-bottom:0;
}

.big-list{
  display:table;
  padding: 12px 0;
  li{
    font-size: 16px;
    position: relative;
    margin: 0 0 22px;
    &:before{
      content: '';
      width: 165px;
      height:1px;
      background-color: #e4ceab;
      position: absolute;
      bottom:0;
      left: 50%;
      margin-left: -85px;
    }
  }
  .number{
    width: 16%;
    background: url(../images/big-list-number.png) 0 0 no-repeat;
    display: inline-block;
    height: 183px;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    font-size: 60px;
    font-family: 'PT Serif';
    color: $gray-light;
    padding: 5% 0 0;
  }
  p{
    width:100%;
    padding: 0 0 0 3%;
    vertical-align:middle;
    display:table-cell;
    height:209px;
    strong{
      color: $gray-light;
      display: block;
      font-family: 'PT Serif';
      margin-bottom:25px;
    }
  }
}



/********************************
*       /ОСНОВНЫЕ СТИЛИ/
********************************/



/*************************
*     КАСТОМНЫЕ СТИЛИ
**************************/

@import "partials/media";

/*************************
*     /КАСТОМНЫЕ СТИЛИ/
**************************/