/********************************
*      ДОПОЛНИТЕЛЬНЫЕ СТИЛИ
*********************************/
//@import "../../bower_components/normalize.css/normalize.css";
//@import "../../bower_components/bootstrap/scss/bootstrap";
//@import "../../bower_components/Swiper/dist/css/swiper.min.css";

///////////////////   МОИ ДОПОЛНЕНИЯ  /////////////////////////

@import "partials/sprite";
@import "partials/fonts";
@import "partials/typography";

/********************************
*      \ДОПОЛНИТЕЛЬНЫЕ СТИЛИ\
*********************************/




/********************************
*           СПРАЙТЫ
********************************/
i{
  display: inline-block;
}

@include sprites($spritesheet-sprites);

//hover спрайта

.icon {
  @include sprite($icon);
  &:hover {
    @include sprite($icon-hover);
  }
}
/********************************
*           \СПРАЙТЫ\
********************************/





/********************************
*           ШРИФТЫ
********************************/

//@include font-face("etelka-pro", "../fonts/etelka-text-pro-bold", "etelka-text-pro-bold");

/********************************
*          \ ШРИФТЫ\
********************************/




/********************************
*       ОСНОВНЫЕ СТИЛИ
********************************/
.bol-color{
  color: $gray-light;
}
.footage{
  background-color: #f5f1eb;
  padding: 40px 0;
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  &:before{
    content: '';
    background: url('../images/footage-shadow-top.png') 0 0 repeat-x;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after{
    content: '';
    background: url('../images/footage-shadow-bottom.png') 0 0 repeat-x;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.h1{
  text-align: center;
  color: $gray-light;
  position: relative;
  padding: 10px 0 28px;
  font-size: 42px;
  font-family: 'PT Serif';
  &:after{
    content: '';
    background: url(../images/h2.png) 0 0 no-repeat;
    width: 300px;
    height: 19px;
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:-150px;
  }
}

.b-video{
  border: 4px solid #e3c79c;
  display: inline-block;
  margin: 53px 15px;
    img{
    vertical-align: top;
  }
}
.image_float{
  &.right{
    margin: 0 0 25px 50px;
  }
}
p{
  &.clear{
    padding-bottom: 100px;
  }
}






























/********************************
*       /ОСНОВНЫЕ СТИЛИ/
********************************/



/*************************
*     КАСТОМНЫЕ СТИЛИ
**************************/

@import "partials/media";

/*************************
*     /КАСТОМНЫЕ СТИЛИ/
**************************/